[Unit]
Description=DeepL

[Service]
ExecStart=/home/albertoprb/programming/miniconda3/envs/automation-scripts/bin/python /home/albertoprb/programming/automation_scripts/translate_deepl.py
Restart=always
RestartSec=10
Environment=DISPLAY=:1
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=graphical-session-pre.target